@font-face {
	font-family: "Comfortaa-Light";
	src: url("@/assets/fonts/comfortaa/Comfortaa-Light.ttf");
}
@font-face {
	font-family: "Comfortaa-Medium";
	src: url("@/assets/fonts/comfortaa/Comfortaa-Medium.ttf");
}
@font-face {
	font-family: "Comfortaa-Bold";
	src: url("@/assets/fonts/comfortaa/Comfortaa-Bold.ttf");
}
@font-face {
	font-family: "Comfortaa";
	src: url("@/assets/fonts/comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
	font-family: "Comfortaa-SemiBold";
	src: url("@/assets/fonts/comfortaa/Comfortaa-SemiBold.ttf");
}
