@use "sass:math";
.common-detail-page {
	margin-top: 1.25rem;

	.container {
		// overflow: hidden;

		.skeleton {
			padding: 20px;
		}

		.banner {
			border-radius: 20px;
			overflow: hidden;
			display: grid;
			grid-template-columns: 550px repeat(2, minmax(0, 1fr));
			grid-template-rows: repeat(2, 12.1875rem);
			grid-gap: 10px;
			@media (max-width: 992px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
				grid-template-rows: repeat(2, 12.1875rem);
			}
			.image_box {
				grid-column: 1;
				grid-row: 1 / 3;
			}
			.image_box:nth-child(2) {
				grid-column: 2;
				grid-row: 1;
			}

			.image_box:nth-child(3) {
				grid-column: 3;
				grid-row: 1;

				@media (max-width: 992px) {
					grid-column: 2;
					grid-row: 2;
				}
			}

			.image_box:nth-child(4) {
				grid-column: 2;
				grid-row: 2;

				@media (max-width: 992px) {
					grid-column: 1;
					grid-row: 3;
				}
			}

			.image_box:nth-child(5) {
				grid-column: 3;
				grid-row: 2;

				@media (max-width: 992px) {
					grid-column: 2;
					grid-row: 3;
				}
			}
		}
		.banner_container {
			position: relative;
			.bannerPreview_btn {
				position: absolute;
				bottom: 1.5625rem;
				left: 2.1875rem;
				width: 5rem;
				height: 2.5rem;
				border-radius: 0.5rem;
				background-color: rgba(49, 49, 49, 0.76);
				font-family: Comfortaa;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1.2;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				padding-bottom: 0.5625rem;
				color: #fff;
				img {
					width: 1.75rem;
					margin-right: 0.5625rem;
				}
			}
		}

		.main {
			margin-top: 3.125rem;
			display: flex;
			align-items: flex-start;
			@media (max-width: 750px) {
				flex-direction: column;
			}
			.colL {
				width: 1%;
				flex: 1;
				@media (max-width: 750px) {
					width: 100%;
				}
				.section {
					padding: 2rem 0;

					overflow: hidden;
					// &:not(:last-child) {
					// 	border-bottom: solid 1px #d5d5d5;
					// }

					@media (max-width: 750px) {
						&:last-child {
							border-bottom: solid 1px #d5d5d5;
						}
					}
				}
				.name {
					font-size: 1.875rem;
					line-height: 1.2;
					font-weight: 700;
					color: #313131;
					margin-bottom: 2rem;
				}

				.title {
					font-size: var(--dgj-font-size-large);
					font-weight: 600;
					color: var(--dgj-color-heading1);
					line-height: var(--dgj-line-height);
					padding-right: 2.5rem;
				}

				.address {
					color: var(--dgj-color-subtext);
					font-size: var(--dgj-font-size-small);
					font-weight: 500;
					height: 24px;
					margin-top: 6px;
					display: flex;
					align-items: center;

					.icon {
						width: 16px;
						height: 16px;
						margin-right: 4px;
					}
				}

				.price {
					color: var(--dgj-color-highlight);
					font-size: var(--dgj-font-size-xlarge);
					font-weight: 700;
					margin-top: 0.9375rem;
					line-height: 1.5;
					margin-bottom: 0.625rem;
					display: flex;
					align-items: center;
					&.noPrice:after {
						content: "";
					}
					.text {
						font-size: 1rem;
						color: #333;
						font-weight: 400;
						margin-left: 10px;
					}
				}

				.ji-ben-xin-xi {
					.name {
						margin-bottom: 1.25rem;
					}
					.rows {
						display: grid;
						gap: 0;
						grid-template-columns: repeat(3, minmax(0, 1fr));
						margin-top: 5px;
						@media (max-width: 992px) {
							grid-template-columns: repeat(2, minmax(0, 1fr));
						}
						.item-box {
							height: 3rem;
							display: flex;
							align-items: center;
							font-size: var(--dgj-font-size-regular);

							.label {
								font-weight: 400;
								margin-right: 10px;
								color: var(--dgj-color-subtext);
							}

							.value {
								flex: 1;
								width: 1%;
								font-weight: 500;
								color: var(--dgj-color-heading1);
							}
						}
					}
				}

				.land_detail {
					.name {
						margin-bottom: 1.25rem;
					}
					.rows {
						display: grid;
						gap: 0;
						grid-template-columns: repeat(2, minmax(0, 1fr));
						margin-top: 5px;
						@media (max-width: 992px) {
							grid-template-columns: repeat(2, minmax(0, 1fr));
						}
						.item-box {
							height: 3rem;
							display: flex;
							align-items: center;
							font-size: var(--dgj-font-size-regular);

							.label {
								font-weight: 400;
								margin-right: 10px;
								color: var(--dgj-color-subtext);
							}

							.value {
								flex: 1;
								width: 1%;
								font-weight: 500;
								color: var(--dgj-color-heading1);
							}
						}
					}
				}

				.lou-pan-xin-xi {
					.rows {
						display: flex;
						margin-top: 1.25rem;
						flex-wrap: wrap;
						.item-box {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							width: 20%;

							.icon {
								width: 3.5rem;
								height: 3.5rem;
								background-repeat: no-repeat;
								background-size: auto 3.5rem;
							}

							.value {
								font-size: var(--dgj-font-size-regular);
								line-height: 1.2;
								margin-top: 0.75rem;
							}

							.text {
								line-height: 1.2;
								color: var(--dgj-color-subtext);
								font-size: var(--dgj-font-size-regular);
								margin-top: 6px;
								text-align: center;
							}

							&:nth-child(1) {
								.icon {
									background-image: url("@/assets/detail/jian-zao-nian-fen.svg");
								}
							}

							&:nth-child(2) {
								.icon {
									background-image: url("@/assets/detail/lou-dong.svg");
								}
							}

							&:nth-child(3) {
								.icon {
									background-image: url("@/assets/detail/lou-ceng.svg");
								}
							}

							&:nth-child(4) {
								.icon {
									background-image: url("@/assets/detail/zhu-hu.svg");
								}
							}

							&:nth-child(5) {
								.icon {
									background-image: url("@/assets/detail/shi-yong-mian-ji.svg");
								}
							}
						}
					}
				}

				.fang-yuan-miao-shu {
					.desc {
						margin-top: 1.125rem;
						overflow: hidden;
						font-size: var(--dgj-font-size-regular);

						:deep(p) {
							line-height: 1.6;
							text-align: justify;
						}
					}
				}

				.she-shi {
					.rows {
						display: flex;
						flex-wrap: wrap;
						margin-top: 10px;
						font-size: var(--dgj-font-size-regular);

						.item-box {
							width: calc(100% / 3);
							display: flex;
							align-items: center;
							margin-bottom: 20px;

							.icon {
								width: 40px;
								height: 40px;
								background-repeat: no-repeat;
								background-size: 40px;

								&.icon-1 {
									background-image: url("@/assets/detail/yang-tai.png");
								}

								&.icon-2 {
									background-image: url("@/assets/detail/you-yong-chi.png");
								}

								&.icon-3 {
									background-image: url("@/assets/detail/hua-yuan.png");
								}

								&.icon-4 {
									background-image: url("@/assets/detail/jian-shen-fang.png");
								}

								&.icon-5 {
									background-image: url("@/assets/detail/da-tang.png");
								}

								&.icon-6 {
									background-image: url("@/assets/detail/sang-na-fang.png");
								}

								&.icon-7 {
									background-image: url("@/assets/detail/you-le-chang.png");
								}

								&.icon-8 {
									background-image: url("@/assets/detail/jiu-ba.png");
								}

								&.icon-9 {
									background-image: url("@/assets/detail/jian-kong.png");
								}

								&.icon-10 {
									background-image: url("@/assets/detail/can-ting.png");
								}

								&.icon-11 {
									background-image: url("@/assets/detail/jing-wei.png");
								}
							}

							.text {
								font-size: var(--dgj-font-size-regular);
								margin-left: 10px;
							}
						}
					}
				}

				.fang-yuan-zhou-bian {
					.content {
						height: 25rem;
						background-color: var(--dgj-color-divider);

						.iframe {
							width: 100%;
							height: 25rem;
						}
					}

					.rows {
						overflow: hidden;
						margin-top: 10px;

						.item-box {
							height: 44px;
							display: flex;
							align-items: center;
							border-bottom: dotted 1px var(--dgj-color-divider);
							padding: 10px 0;

							.label {
								line-height: 1.2;
								color: #7c7c7c;
								font-size: var(--dgj-font-size-regular);
							}

							.value {
								line-height: 1.2;
								margin-left: auto;
								color: #7c7c7c;
								font-size: var(--dgj-font-size-regular);
							}

							&:last-child {
								border-bottom-width: 0;
							}
						}
					}
				}

				.fang-yuan-zhao-pian {
					.image {
						border-radius: 20px;
						// max-height: 700px;
						width: calc(100% - 175px);
						object-fit: cover;
						margin-bottom: 42px;
					}
				}
				video {
					width: 100%;
					max-height: 25rem;
					background-color: #eee;
				}
			}

			.colR {
				width: math.div(350, 1100) * 100%;
				margin-left: 2.5rem;
				margin-bottom: 50px;
				@media (max-width: 750px) {
					width: 100%;
					margin-left: 0;
					margin-top: 2rem;
				}
			}
		}
	}

	.rmb {
		font-size: 20px;
	}
	#map {
		position: relative;
	}
	.tips {
		display: flex;
		align-items: center;
		position: absolute;
		top: 1rem;
		left: 0;
		right: 0;
		padding: 0.75rem 1.25rem;
		font-size: 1rem;
		background: moccasin;
		color: #666;
		line-height: 1.4;
	}
	// .container > .section {
	// 	display: none;
	// }
}

::v-deep(.image_box),
::v-deep(.image_box > img) {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
//分享
.colL {
	position: relative;
}
.share_icon {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	img {
		width: 1.5rem;
	}
	@media (max-width: 750px) {
		display: block;
	}
}
::v-deep(.el-image-viewer__canvas img) {
	width: 60vh;
	height: 50vh;
}
::v-deep(.el-image-viewer__mask) {
	opacity: 0.7;
}
