.list {
	.list_title_box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;

		.list_title {
			font-family: Comfortaa;
			font-size: 1.875rem;
			font-weight: 700;
			line-height: 1.2;
			color: #111b2c;
			@media (max-width: 992px) {
				font-size: 1.625rem;
			}
		}

		.list_more {
			font-family: Comfortaa;
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.2;
			color: #53575b;
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				margin-right: 0.75rem;
			}

			.more_icon {
				width: 2.375rem;
				height: 2.375rem;
				background-color: #f2f3f7;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 1.25rem;
					height: 1rem;
				}
			}
		}
	}

	.list_ul {
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-gap: 1.25rem 1.875rem;
		box-sizing: border-box;

		@media (max-width: 992px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		@media (max-width: 560px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		.item {
			display: block;
			min-height: 18.75rem;
			max-width: 100%;
			border-radius: 0.75rem;
			background: #f1f4f9;
			cursor: pointer;

			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: #fff;
				box-shadow: 0px 0.5rem 4.5rem 0px #d7dde7;
			}

			.item_img_box {
				height: 12.5rem;
				border-radius: 0.75rem;
				width: 100%;
				overflow: hidden;
				position: relative;

				.item_img {
					height: 100%;
					min-width: 100%;
					object-fit: cover;
				}

				.tag {
					position: absolute;
					top: 1.375rem;
					left: 0.875rem;
					padding: 0 0.5rem;
					border-radius: 3.125rem;
					background-color: #004aad;
					font-family: Comfortaa;
					font-size: 0.75rem;
					font-weight: 700;
					line-height: 2;
					text-align: center;
					color: #ffffff;
				}

				.code {
					width: fit-content;
					height: 1.8125rem;
					position: absolute;
					bottom: 0;
					right: 0;
					display: flex;
					justify-content: flex-end;
					padding-right: 0.875rem;
					align-items: center;
					font-family: Comfortaa;
					font-size: 0.75rem;
					font-weight: 500;
					line-height: 1.2;
					color: #ffffff;
					z-index: 1;

					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						background: rgba($color: #000000, $alpha: 0.5);
						filter: blur(20px);
						z-index: -1;
					}
				}
			}

			.item_content {
				padding: 0 10px;

				.content_title {
					margin-top: 0.875rem;
					font-family: Comfortaa;
					font-size: 1rem;
					font-weight: 500;
					line-height: 1.2;
					color: #262626;
					margin-bottom: 0.625rem;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					min-width: 0;
				}

				.content_address {
					font-family: Comfortaa;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.2;
					color: #7f7f7f;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					text-overflow: ellipsis;
					word-break: break-all;
					padding-left: 1.125rem;
					position: relative;
					height: 2rem;
					min-height: fit-content;
					margin-bottom: 0.625rem;

					.address_icon {
						position: absolute;
						left: 0;
						top: 0;
					}
				}

				.content_detail {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					align-items: center;
					color: #4b5053;
					font-size: 0.75rem;
					padding-bottom: 1.125rem;
					height: 2.6rem;
					box-sizing: border-box;
					.item_info {
						display: flex;
						align-items: center;

						.info_img {
							margin-right: 6px;
						}
					}
				}

				.content_price {
					font-family: Comfortaa;
					font-size: 1.125rem;
					font-weight: 400;
					line-height: 1.2;
					color: #ff3e55;
					padding: 0 0 0.875rem;
				}
			}
		}
	}
}
